// Template: color-object-role

$plum-all-main: #4d2987;
$plum-all-hover: #a46bff;

$lightBlue-all-accent: #0dc8d5;
$red-chips-main: #f04155;

$white-text-main: #faf7fe;
$lightGray-text-aside: #bbbbbb;
$darkGray-text-aside: #3b3b3b;

$white-background-main: #faf6ff;
$gray-background-main: #e8e8e8;