$plum-main: #4d2987;
$plum-hover: #a46bff;
$light-blue-main: #40d1db;

$white-text: #ffffff;
$light-gray-text: #bbbbbb;
$gray-text: #3b3b3b;

$gray-back: #e8e8e8;

$black-shadow: rgba(22, 19, 26, 0.30);
$dark-shadow: rgba(22, 19, 26, 0.60);